.todolist-page-container {
    width: 100%;
    height: 100%;
}

.todolist-page-container > header {
    margin-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.todolist-header-items {
    display: flex;
    margin-bottom: 5px;
}

.todolist-main-container {
    padding-right: 5px;
    height: 550px;
    overflow-y: scroll;
}

.todolist-main-container::-webkit-scrollbar {
    width: 3px;
}

.todolist-main-container::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 3px;
}

.todolist-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    border-width: 1px 0px;
    padding: 10px;
    width: 330px;
    height: 55px;
    background-color: white;
}

.todolist-items-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complet-chkboxs {
    display: none;
}

.complet-chkboxs + label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(100, 150, 220);
}

.complet-chkboxs:checked + label::after {
    content: "";
    display: block;
    box-sizing: border-box;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform: rotate(45deg);
    color: white;
}

.item-center {
    flex-grow: 1;
    padding: 0px 10px;
}

.item-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 30px;
}

.todolist-date {
    margin-bottom: 5px;
    font-size: 12px;
    color: white;
}

.todolist-item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    margin: 0px 2px;
    font-size: 11px;
}

.btn-edit .fa-solid {
    color: #9575CD;
}

.btn-edit:active {
    background-color: #ffff00;
    color:white;
}

.btn-remove {
    margin: 0px 2px;
    font-size: 11px;
}

.btn-remove .fa-solid {
    color: #9575CD;
}

.btn-remove:active {
    background-color: #ffff00;
    color:white;
}

.btn-calendar {
    margin: 0px 2px;
    font-size: 11px;
    color: #ffff00;
}

.btn-calendar .fa-solid {
    color: #9575CD;
}

.btn-calendar:active {
    background-color: #ffff00;
    color:white;
}

.btn-add {
    margin-left: 5px;
}

.btn-add .fa-solid {
    color: #9575CD;
    font-size: 20px;
}